.main-container {border: 1px solid white; margin-top: 10px; background-image: url('../../../public/images/bg-merc.jpg'); height: 700px;}
.search-container {width: 35%; margin: 5%; padding: 1%; background-color: #ddd; border-radius: 8px; height: 190px;}
.search-params {height: 100%;}
.search-params .blue-btn {width: 100%; padding: 10px; font-size: 18px;}
.first-row, .second-row, .third-row {display: flex; gap: 15px; margin-bottom: 15px;}
.first-row select,
.second-row input,
.third-row input  {flex: 1;}
input::placeholder {color: #666; opacity: 1;}
.second-container {padding: 5%;}
.first-stat {margin-bottom: 50px;}
.title-area {display: flex; align-items: center; margin-bottom: 20px;}
.title-area .fa-square {color: #003d82; font-size: 40px;}
.stat-data {display: flex; gap: 5%; flex-wrap: wrap; justify-content: center;}
.stat {padding: 2px; display: flex; align-items: center; gap: 10px; width: 20%; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.5); transition: background-color 0.2s ease;}
.stat:hover {background-color: #f4f2f2;}
.stat img {width: 30%;}