body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {margin: 0; padding: 0;}

/* text styles */
.nav-btn {text-decoration: none; font-size: 16px; color: #003d82; font-weight: 500;}
.nav-btn:hover {color: #00BFFF; border-bottom: 2px solid #00BFFF;}
/* text styles */
/* button styles */
.blue-btn {text-decoration: none; border: 1px solid #003d82; padding: 4px 12px; border-radius: 2px; color: #ffffff; background-color: #003d82;}
.blue-btn:hover {border-radius: 10px;}
/* button styles */