body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {margin: 0; padding: 0;}

/* text styles */
.nav-btn {text-decoration: none; font-size: 16px; color: #555555; font-weight: 500;}
.nav-btn:hover {color: #006699; border-bottom: 2px solid #006699;}
.p-style {color: #ffffff; font-size: 18px;}
.h4-style {font-size: 18px; color: #ffffff; font-weight: bold;}
/* text styles */
/* button styles */
.blue-btn {text-decoration: none; border: 1px solid #003d82; padding: 4px 12px; border-radius: 8px; color: #ffffff; background-color: #003d82; transition: 0.2s;}
.blue-btn:hover {background-color: #005fa3; border-color: #005fa3;}
/* button styles */