.container-header {display: flex; border-bottom: 1px solid grey; height: 50px;}
.logo-area {width: 20%; display: flex; flex-direction: column; align-items: flex-end; justify-content: center;}
.logo-area img {width: 50%; height: 30px; cursor: pointer;}
.nav-btns {width: 51%; display: flex; gap: 10px;}
.nav-btns a {display: flex; align-items: center; margin-top: 10px;}
.btns {display: flex; width: 76%; padding-left: 10%; gap: 10px;}
.icons {display: flex; justify-content: flex-end; width: 10%; margin-top: 10px;}
.fa-regular {color: #003d82; text-align: center; display: flex; align-items: center; justify-content: flex-end; font-size: 18px;}
.fa-regular:hover {color: #006699;}
.login-user-area {width: 25%; display: flex; align-items: center; gap: 10px; padding-left: 2%;}
.height {border: 1px solid #003d82; height: 35px; display: flex; position: absolute; top: 10px; left: 71%;}
.login-user-area .blue-btn {gap: 10px; display: flex; align-items: center; margin-top: 10px;}
@media screen and (min-width: 764px) and (max-width: 1300px) {
    .logo-area {justify-content: center;}
    .logo-area img {width: 70%; height: 30px;}
    .fa-heart {margin-left: 45%;}
    .height {border: 1px solid #003d82; height: 25px; display: flex; position: absolute; top: 6px; left: 73%;}
}

@media screen and (min-width: 680px) and (max-width: 763px) {
    .logo-area {width: 30%; justify-content: center;}
    .logo-area img {width: 100%; height: 30px;}
    .nav-btns {width: 70%;}
    .fa-heart {margin-left: 58%;}
    .height,
    .login-user-area {display: none;}
}

@media screen and (max-width: 679px) {
    .logo-area {width: 30%; justify-content: center;}
    .logo-area img {width: 100%; height: 30px;}
    .nav-btns {width: 70%;}
    .fa-heart {margin-left: 20%;}
    .height,
    .login-user-area {display: none;}
}